@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background: #f8f8f8;
}

#clock {
  float: right;
  font-size: 15px;
  text-shadow: 0px 0px 8px red;
  color: #fff;
}

.menu {
  padding: 8px 0;
  background: #a5c926;
}

.menu__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__left a {
  margin-right: 16px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
}

.menu__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__right i {
  margin-left: 14px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__right i:hover {
  color: aqua;
}

.header {
  position: fixed;
  opacity: 1;
  padding: 20px 0;
  background-color: #f8f8f8;
  width: 100%;
  z-index: 200;
  height: 80px;
  overflow: hidden;
  top: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.header__flexx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .fa-bars {
  display: none;
  font-size: 30px;
}

.header .basr {
  display: none;
  font-size: 32px;
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left ul li {
  list-style: none;
}

.header__left ul li a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #111111;
  margin-right: 35px;
  padding: 5px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header__left ul li a:hover {
  background: #a5c926;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.header__logo a {
  width: 100px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #333333;
  margin-right: 55px;
}

.header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right a {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #111111;
}

.header__right i {
  font-size: 24px;
  margin: 0 13px 0 13px;
}

.header__on {
  background: #a5c926;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 1px 7px;
  color: #ffffff;
  cursor: pointer;
}

.main {
  background: url(../img/IMAGE.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 640px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__block {
  width: 570px;
  background: #ffffff;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 55px;
}

.main__block p {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a5c926;
}

.main__block h2 {
  max-width: 416px;
  margin: 0 auto;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 48px;
  text-align: center;
  color: #111111;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main__block button {
  background: #a5c926;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 12px 28px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main__block button:hover {
  background: aqua;
  color: black;
}

.main__button {
  text-align: center;
}

.shop {
  background-color: #f8f8f8;
  padding: 100px 0 120px 0;
}

.shop__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 188px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__transfer {
  -webkit-transform: translateY(-45px);
      -ms-transform: translateY(-45px);
          transform: translateY(-45px);
}

.shop__transfer:nth-child(2) {
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
}

.shop__in a p {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
  text-align: right;
  color: #ffffff;
}

.shop__in button {
  background: #ffffff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #111111;
  padding: 8px 24px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.shop__in button:hover {
  background-color: aqua;
}

.shop__block:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #ffc12c;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  text-align: center;
}

.shop__block:last-child {
  background: #fb416b;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animal {
  background-color: #f8f8f8;
}

.animal__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.animal__text a h3 {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #111111;
}

.animal__icon a {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #111111;
}

.animal__icon i {
  margin-left: 4px;
}

.animal__lin {
  margin-top: 4px;
  width: 85px;
  height: 2px;
  background: #dddddd;
}

.animal__line {
  position: relative;
  width: 100%;
  height: 2px;
  background: #e5e5e5;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  margin: 32px 0 55px 0;
}

.animal__line span {
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 100%;
  background: #a5c926;
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

.animal__blocks {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 135px;
}

.animal__block {
  max-width: 270px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 33px 44px;
}

.animal__block img {
  width: 100%;
}

.animal__block p {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  margin: 25px 0px 12px 0px;
}

.animal__block button {
  background: #a5c926;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 2px 12px 2px 12px;
}

.animal__block button:hover {
  background: aqua;
  color: black;
}

.animal__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.maps {
  padding: 0px 0 119px 0;
  background-color: #f8f8f8;
}

.maps__iframe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.free {
  padding: 0px 0px 121px 0px;
}

.free__text {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free__text p {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a5c926;
}

.free__h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free__h2 h2 {
  max-width: 447px;
  width: 100%;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  color: #111111;
  margin: 18px 0px 95px 0px;
}

.free__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.free__lin {
  width: 70px;
  height: 2px;
  background: #a5c926;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  margin: 25px 0;
}

.free__left h2 {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  color: #111111;
}

.free__left p {
  max-width: 451px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 26px;
}

.free__left button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #a5c926;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  padding: 12px 28px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.free__left button:hover {
  background: aqua;
  color: black;
}

.free__right img {
  width: 100%;
}

.blocks {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  margin: 0px 0px 121px 0px;
}

.blocks .block {
  padding: 47px 47px 47px 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks .block__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks .block__left p {
  margin-left: 20px;
  max-width: 310px;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  color: #111111;
}

.blocks .block__left p a {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  color: #a5c926;
}

.blocks .block__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks .block__right input {
  width: 376px;
  height: 47px;
  background: #f8f8f8;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  padding: 8px 15px;
  font-size: 20px;
}

.blocks .block__right button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #a5c926;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  padding: 12px 28px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-left: 15px;
}

.blocks .block__right button:hover {
  background: aqua;
  color: black;
}

.insta__text p {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a5c926;
}

.insta__h2 {
  margin: 17px 0px 85px 0px;
}

.insta__h2 h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  color: #111111;
}

.insta__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.insta__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 88px 0px 133px 0px;
}

.insta__button button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #a5c926;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  padding: 12px 28px 12px 28px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.insta__button button:hover {
  background: aqua;
  color: black;
}

.footer {
  background: #a5c926;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  padding: 47px 0px 32px 0px;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left ul li a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 28px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__left ul li a:hover {
  background: aqua;
  color: black;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.footer__logo a {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #ffffff;
}

.footer__right i {
  margin-left: 17px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__right i:hover {
  color: aqua;
}

.footer__line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin: 50px 0px 32px 0px;
}

.footer__last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__lefta a {
  margin-right: 8px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}

.footer__righta a {
  margin-left: 8px;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}

.navm {
  background: aqua;
  padding: 20px;
  height: 70px;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button1 {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
  cursor: pointer;
  color: red;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: none;
  outline: none;
}

.button1 .fa-circle-arrow-up {
  font-size: 36px;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button1 .fa-circle-arrow-up:hover {
  color: purple;
}

.fa-circle-xmark {
  display: none;
}

.fa-circle-xmark.togglea {
  display: block !important;
}

.menu1 {
  display: block;
}

.header.active {
  overflow: initial;
  height: inherit;
  opacity: 1 !important;
}

.header__left.active {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: absolute;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  bottom: -80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  opacity: 1 !important;
  z-index: 100;
  overflow: auto;
}

.header__left.active ul {
  display: block;
  margin-bottom: 15px;
}

.header__left.active ul li {
  margin-bottom: 20px;
}

.header__left.active ul li a {
  margin: 20px 0;
  color: #fff;
  font-size: 24px;
}

.header__left ul {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header__left ul li a:hover {
  background: #a5c926;
  padding: 5px 10px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.fa-bars.togglea {
  display: none !important;
}

#modal {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #000000;
  padding: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#close {
  width: 7%;
  margin-bottom: 20px;
  padding: 10px;
}

#modal img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}
